mixin testimonial(options)
    .testimonial(class="#{options.extraClass}")
      p.
        #{options.content}
      a(href="#{options.orgUrl}" title="#{options.org}").no-border
        cite
          div.photo
            img(src="/assets/img/portraits/#{options.imgSrc}" alt="#{options.name}")
          | #{options.name}
          br
          small
            em
              span #{options.profession} at #{options.org}


mixin overview-list__article(options)
  article.column.half.clear-l
    a(href="#{options.url}" title="#{options.title}")
      h5.title #{options.title}
    .meta
      .inline-photo
        img(src="/assets/img/portraits/#{options.imgSrc}" alt="#{options.author}")
      p
        | Posted by 
        a(href="#{options.authorUrl}") #{options.author}


mixin media-list__item(url, name, imgSrc)
  li
    a.no-border(href="#{url}" alt="Project Buendia on #{name}" target="_blank")
      img(src="assets/img/media/#{imgSrc}")


mixin social-list(extraClass)
  ul.social(class="#{extraClass}")
    li
      a(href="https://www.facebook.com/wearewhitespell")
        span.ss-icon.ss-social-circle.fb facebook
        | Facebook
    li
      a(href="https://twitter.com/_whitespell")
        span.ss-icon.ss-social-circle.twitter twitter
        | Twitter
    li
      a(href="https://github.com/whitespell")
        span.ss-icon.ss-social-circle.github octocat
        | Github
    li
      a(href="https://www.linkedin.com/company/whitespell")
        span.ss-icon.ss-social-circle.linkedin linkedin
        | Linkedin


mixin photo-block(options)
  .photo-block
    .photo
      img(src="/assets/img/portraits/#{options.imgSrc}")
    .content
      h4.photo-block__title.alt #{options.name}
      h6 #{options.title}
      if options.social
        ul.social.inline
          each val,key in options.social
            li
              a(href="#{val}")
                span.ss-icon.ss-social-circle(class="#{key}") #{key}
      p.
        #{options.description}
