footer#footer
  .container
    ul.inline
      a(href='/')
        li Made with &#9829; in Miami. &copy; Whitespell

    ul.inline.right
      each name, href in pagesInfo
          a(href="/#{href}")
            li= name

script(src='/js/app.js')
script(type="application/ld+json").
    { 
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://whitespell.com",
        "logo": "https://whitespell.com/assets/img/whitespell-logo.png",
        "sameAs": [
            "https://facebook.com/wearewhitespell",
            "https://twitter.com/_whitespell",
            "https://github.com/whitespell",
            "https://www.linkedin.com/company/whitespell"
        ],
    }

//- "contactPoint" : [
//-             { 
//-                 "@type" : "ContactPoint",
//-                 "telephone" : "+1-7862019489",
//-                 "contactType" : "sales",
//-                 "contactOption" : "TollFree",
//-                 "areaServed" : "US"
//-             }
//-         ] 

// Zendesk
script.
    /*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","whitespell.zendesk.com");/*]]>*/
    /*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","whitespell.zendesk.com");/*]]>*/
</body>
</html>
